html, body {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}

footer {
    display: inline-flex;
    position: absolute;
    margin: auto;
    justify-content: center;
    width: 100%;
    bottom: 0;
}