html, body {
    font-size: 16px;
    text-align: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: black;
}

.header-link {
    text-decoration: none;
    color: white;
}
.nav-buttons, button, input[type="submit"] {
    display: flex;
    gap: 0.5rem;
    /* margin-top: 0.5rem; */
    padding: 0.5%;
    justify-content: center;
    align-content: center;
}
a, a:visited {
    text-decoration: none;
}

button a {
    color: black;
    text-decoration: none; 
}

button.delete {
    background-color: coral;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 4rem;
}

table {
    width: 50%;
    margin: auto;
}

td, thead {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    margin: 0;
    justify-content: center;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
}